<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cannabliss</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>FAQ</h1>
    </div>
    <p>Or go <a href="/">home</a>.</p>
</div>


<!-- test -->
  <div class="box">
    <p class="heading">FAQs</p>
    <div class="faqs">
      <details open>
        <summary>What is cannabis?</summary>
        <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
      </details>
      <details open>
        <summary>What is cannabis?</summary>
        <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
      </details>
      <details open>
        <summary>What is cannabis?</summary>
        <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
      </details>
    </div>
  </div>


<!-- test -->

</body>
</html>
